.agricultural-search{
	overflow:hidden;
}
.wrap2{ 
	width:1200px; 
	margin:0 auto; 
	background:#FFF;
}
.keyword{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CDC9C4;
	padding: 15px 0;
}
.keyword_a{
	color:#FF3F00!important;
}
.keyword a{ 
	text-decoration:none; 
	color:#444;}
.wrap3{
	width:1200px;
	clear: both;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
}
.wrap_all{
	width:188px;
	border: 1px solid #F1F0EE;
	height: 100%!important;
	overflow: visible !important;
	height: 100% !important;
	text-align: center;
	float: left;
	min-height:600px;
}
.wrap_all_dt{
	padding-right: 10px;
	background-repeat: no-repeat;
	background-position: 10px center;
	font-size: 15px;
	position: relative;
	line-height: 48px;
	cursor: pointer;
}
.wrap_all_dt img{
  position: absolute;
  right: 10px;
  top: 20px;
}
.wrap_all_vcon li{
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 13px;
    position: relative;
    line-height: 30px;
    cursor: pointer;
}
.wrap_all_vcon a{
    color: #666666;
    text-decoration: none;
}
.wrap_all_vcon a:hover{
	color: #F47700;
}
.wrap_all_select{
	color: #F47700 !important;
}
.v{
	float: right;
	width: 9px;
	height: 9px;
	overflow: hidden;
	display: inline-block;
	margin-top: 21px;
	background-image: url(../img/xyjt.png);
	background-repeat: no-repeat;
}
.v02{
	background-image: url(../img/xxjt.png);
}
.wrap_with{
	width:991px;
	float: right;
}
.wrap_with_dq{
	/*height: 77px;*/
	border-top-width: 1px;
	/*border-bottom-width: 1px;*/
	border-top-style: solid;
	/*border-bottom-style: solid;*/
	border-top-color: #E9E8E5;
	/*border-bottom-color: #E9E8E5;*/
	clear: both;
}
.wrap_with_tj{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #e9e8e5;	
}
.wrap_with_dqm{
	width:40px;
	font-weight: bold;
	color: #3c3c3c;
	line-height: 35px;
	height: 100%;
	float: left;
}

.wrap_with_dm{
	width:950px;
	float: left;
	overflow: hidden;
}
.wrap_with_dm1{
	width:950px;
	float: left;
	overflow: hidden;
}
.wrap_with_dm1 ul li{
	float: left;
	height: 23px;
	line-height: 23px;
	margin: 6px 20px 0 0;
	text-align: center;
	border: 1px solid #F97900;
}
.wrap_with_dm1 a:hover{
	color: #F47700;
}

.wrap_with_dm1 span{
	color: #FD6F00;
	margin: 0 0 0 5px;
	text-decoration: none;
	float: left;
}
.wrap_with_dm1 img{
	float: left;
	margin: 4px 5px 0 5px;
	cursor: pointer;
}
.wrap_with_dm ul li{
	width: 85px;
	float: left;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.wrap_with_dm a:hover{
	color: #F47700;
}

.wrap_with_dm a{
	color: #444;
	padding: 0 3px;
    text-decoration: none;
}
.wrap_with_px{
	
}
.title {
	overflow: hidden;
	margin: 15px 0 15px 0;
	padding: 0 15px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #e5e5e5;
	border-bottom-color: #e5e5e5;
	background-color: #F7F7F6;
}
.title span {
    display: block;
    width: auto;
    line-height: 24px;
    float: left;
    cursor: pointer;
    padding: 6px 9px;
    margin: 0 6px 0 0;
}

a.down1 {
	background-image: url(../img/paixujiant.png);
	background-repeat: no-repeat;
	background-position: 40px;
}
a.down2 {
	background-image: url(../img/paixujiant2.png);
	background-repeat: no-repeat;
	background-position: 45px;
}
a.foucs {
  background-color: #F97600;
  color: #FFF;
}
.wrap_with_px a{
	display: block;
    width: auto;
    line-height: 24px;
    float: left;
    cursor: pointer;
    padding: 0px 15px;
    margin: 6px 5px;
    padding-right: 24px;
    border: 1px solid #e5e5e5;
	float: left;
}
.wrap_with_px p{
	border: 1px solid #e5e5e5;
	float: left;
	line-height: 24px;
	margin: 6px 5px;
	color: #C6C3BD;
}
.wrap_with_px input{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C6C3BD;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 40px;
	overflow: hidden;
	background-color: #F7F7F6;
}
.wrap_with_xq ul li{
	border: 1px solid #DFDDD8;
	float: left;
	position: relative;
	height: 353px;
	width: 238px;
	margin: 0 3px 10px;
}
.wrap_with_xq a{
	text-decoration: none;
	text-align: center;
}
.ss_jdlogo{
	position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.zsinfo h3{
	font-size: 16px;
	color: #363737;
	margin: 13px 10px 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 30px;
	font-weight: bold;
	text-align: left;
}
.zsinfo h4{
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 50px;
	text-align: left;
	margin:0 10px;
}
.zsinfo p{
	margin: 0 13px;
	text-align: left;
	color: #696863;
	font-size: 14px;
	overflow: hidden;
}
.wrap_with_red{
	color: #FF0000;
	font-size: 20px;
	font-weight: bold;
	overflow: hidden;
}
.wrap_withspan{
	overflow: hidden;
	color: #676561;
}
.ssno{
	width: 1200px;
	margin: 0 auto;
}
.ssno p{
    width: 700px;
    float: left;
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    color: #9A9691;
    margin: 130px 0 0 0;
    overflow:hidden;
}
.ssno p span{
	color: #F97600;
}
.ssno_tj{
	width: 1200px;
	margin:0 auto;
	clear: both;
}
.ssno_tjtb{
	background-image: url(../img/ssno1.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 28px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #AAA6A1;
}
.ssno_tjtb a{
	text-decoration: none;
	line-height: 33px;
	color: #7A7772;
	font-size: 13px;
	float: right;
}
.ssno_ttsp{
	
}
.ssno_ttsp a{
	text-decoration: none;
}
.ssno_ttsp ul li{
    border: 1px solid #DFDDD8;
    float: left;
    position: relative;
    height: 380px;
    width: 280px;
    margin: 10px 9px 10px;
}
.ssno_ttsp h3{
	font-size: 16px;
    color: #363737;
    margin: 13px 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
}
.ssno_ttsp p{
    margin: 0 13px;
    text-align: left;
    color: #696863;
    font-size: 14px;
    overflow: hidden;

}
.ssno_ttsp h4{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 50px;
    text-align: left;
    margin: 0 10px;
}
.a {
  cursor: pointer;
  padding: 0 3px;
  text-decoration: none;
  color: #444;
}