.fixedSearch {
  background-color: white;
  padding: 5px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9998;
  display: none; }

.fixedSearch form.pull-left {
  margin: 4px 0 0 137px; }

/*.fixedSearch .key {
  width: 460px;
  border: none;
  background-color: #fff;
  padding: 0;
  height: 36px;
  line-height: 36px;
  text-indent: 10px;
  float: left; }*/
	
.fixedSearch .key {
    width: 460px;
    background-color: #FFF;
    padding: 0px;
    height: 32px;
    line-height: 36px;
    text-indent: 10px;
    float: left;
    border: 2px solid #EF8200;
}

.fixedSearch .sub {
  font-size: 15px;
  float: left;
  padding: 0;
  height: 36px;
  line-height: 36px;
  border: none;
  background-color: #ef8200;
  color: #fff;
  width: 77px;
  text-align: center;
  cursor: pointer; }

.slide {
  width: 100%;
  overflow: hidden;
  height: 410px;
  float: left;
  position: relative; }

.slide ul.imgList li {
  height: 370px;
  width: 100%;}

.slide ul.imgList li img {
  height: 100%;
  width: 100%; }

.slide ul.imgList {
  width: 100%; }

.slide .slide-btn {
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  margin-left: 190px;
  width: 800px;}

.slide .slide-btn li {
  float: left;
  width: 130px;
  text-align: center;
  color: #fff;
  margin-right: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px; }

.slide .slide-btn li:hover {
  background-color: #F67400;
}

.goods-list {
  overflow: hidden; }

.goods-list li {
  float: left;
  height: 189px;
  width: 198px;
  padding: 10px 0;
  margin:0 0 -1px -1px;
  border:1px solid #E0D9D2;
  text-align: center;
  position: relative;
  font-size: 14px;
  background-color: #fff; }

.goods-list li:hover  > .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  z-index: 3;
  left: 0; 
  top: -1px;
  box-sizing: border-box;
}


.goods-list li > .mask{
 color: #000;
 text-decoration:none;
}

/*.goods-list li > .mask {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 1px solid #e4b5bf;
  background-color: rgba(253, 152, 145, 0.1);
  left: 0;
  top: 0;
  box-sizing: border-box; }

.goods-list li:hover > .mask {
  display: block;}*/


.goods-list li > a >.jdlogo {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; }

.goods-list li .thumb {
	max-width: 190px;
	max-height: 180px;
	margin-left: 10px;
}

.goods-list li .buy {
  position: absolute;
  color: #fff;
  background: url(../images/buybtn.jpg) no-repeat left top;
  width: 78px;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  display: block;
  right: 10px;
  bottom: 5px;
  z-index: 2px; }

.goods-list .goods-info h3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.goods-list .goods-info h3, .goods-list .goods-info span.red {
	font-size: 13px;
	color: #64625C;
	margin-top: 5px;
}

.goods-list .goods-info span.red {
	color: #C70114;
	font-size: 14px;
	font-weight: bolder;
}

.goods {
	background-image: url(../img/goods-bg.png);
	background-repeat: no-repeat;
	background-position: 95px 316px;
}

.goods .floor {
  left: 15px;
  top: 20px;
  font-weight: bold;
  color: #fff;
  font-size: 22px;
  margin: 15px 0 0 17px; }

.goods .title {
	color: #fff;
	font-size: 19px;
	height: 40px;
	font-weight: lighter;
	line-height: 40px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.3);
	text-indent: 17px;
}

.goods .title > i {
  display: block;
  height: 35px;
  background: url(../images/goods-bg2.png) no-repeat; }

.goods .list {
  overflow: hidden;
  height: 127px; }

.goods .list li {
  float: left;
  width: 50%;
  color: #fff;
  padding: 5px 0;
  text-indent: 20px; }

.goods .list a {
  text-decoration: none;
  color: #fff; }

.goods .img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  bottom: 0;
  height: 110px;
  color: #fff;
  overflow: hidden;
  font-size: 22px;
  width: 100%; }

.goods .img a img{
	width: 100%;
	height: 100%;}
	
.absolute1 {
	color: #fff;
	overflow: hidden;
	font-size: 22px;
	width: 100%;
	left: 30px;
	top: 10px;
	text-indent: 17px;
}
.absolute1 a{
	text-decoration: none;
	color: #FFFFFF;
}
.absolute1 h3 {
  margin-top: 25px;
  font-family: "黑体";
  font-weight: bold; }

.absolute1 h4{
	font-size: 18px;
}
.goods.f1 {
  background-color: #82a757; }

.goods.f1 .title > i {
  background-position: center -1px; }

.goods.f2 {
  background-color: #f5619d; }

.goods.f2 .title > i {
  background-position: center -65px; }

.goods.f3 {
  background-color: #2f3161; }

.goods.f3 .title > i {
  background-position: center -133px; }

.goods.f4 {
  background-color: #793ca3; }

.goods.f4 .title > i {
  background-position: center -202px; }

.goods.f5 {
  background-color: #9d3b74; }

.goods.f5 .title > i {
  background-position: center -267px; }

.goods.f6 {
  background-color: #0f5f78; }

.goods.f6 .title > i {
  background-position: center -336px; }

.goods.f7 {
  background-color: #cd5054; }

.goods.f7 .title > i {
  background-position: center -401px; }

.goods.f8 {
  background-color: #358dab; }

.goods.f8 .title > i {
  background-position: center -466px; }

.goods.f9 {
  background-color: #518593; }

.goods.f9 .title > i {
  background-position: center -533px; }

.goods.f10 {
  background-color: #674941; }

.goods.f10 .title > i {
  background-position: center -600px; }

.goods.f11 {
  background-color: #d06716; }

.goods.f11 .title > i {
  background-position: center -666px; }

.goods.f12 {
  background-color: #f7941c; }

.goods.f12 .title > i {
  background-position: center -733px; }

.goods.f13 {
  background-color: #574d82; }

.goods.f13 .title > i {
  background-position: center -798px; }

.characteristic {
 }

.index_xzts{
	width: 1160px;
	margin: 0 auto;
	border-right: 2px solid #E73241;
	border-bottom: 2px solid #E73241;
	border-left: 2px solid #E73241;
}

.characteristicBox {
  background-color: #fff;
  padding: 60px 0 20px; }

.characteristic .title {
	width: 1200px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 0 2px;
}

.characteristic .mid {
	width: 1125px;
	overflow: hidden;
	clear: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 20px;
}

.characteristic .scrollGoods {
  width: 9999px; }

.characteristic .scrollGoods > li {
  width: 210px;
  float: left;
  border: 1px solid #E0D9D2;
  margin-right: 16px; }

.characteristic .scrollGoods > li a {
  text-decoration: none; }
.laimg1{
  margin: 9px;
  border: 1px solid #E0D9D2;

}
.characteristic .scrollGoods > li .name {
	height: 20px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 20px;
	color: #606461;
	font-size: 14px;
	font-weight: bold;
	margin-left: 10px;
}

.characteristic .tool {
  /*background-color: #fee9b4;*/ }

.characteristic .price {
	color: #a50000;
	font-size: 18px;
	font-weight: bold;
	float: left;
	line-height: 34px;
	height: 34px;
	margin-left: 10px;
}
.price1{
	color: #9D9C95;
	font-size: 12px;
	font-weight: bold;
	float: left;
	line-height: 38px;
	height: 34px;
}

.characteristic .price i {
  font-style: normal;
  font-size: 10px; }

.characteristic .buy {
  float: right;
  display: block; }

.characteristic .leftbtn, .characteristic .rightbtn {
	left: 0;
	font-size: 12px;
}
.xzts_div{
	width:50%;
	font-size: 20px;
	line-height: 40px;
	float: left;
	height: 40px;
	margin-left: 20px;
	font-weight: bold;
	color: #D00000;
}
.xzts_div2{
	float:right;
	line-height: 40px;
	height:40px;
	margin-right: 20px;
	color: #969A92;
}
.xzts_div2 a{
	color: #969A92;
	text-decoration:none;
}
.xzts_div2 a:hover{
	color:#F17900
}

.characteristic .rightbtn {
  left: auto;
  right: 0;
  background-position: right top; }

.convenient-service {
	float: left;
	z-index: 9999;
	top: 163px;
	background-color: #FFFFFF;
	height: 408px;
	width: 118px;
	margin-left: 1080px;
	border: 1px solid #F6EBE2;
  position: absolute;
}

.convenient-servicea{
	height:40px;
}

.convenient-servicea ul li{
	height:38px;
	width: 82px;
	margin-right: 5px;
	border: 1px solid #F6F3F0;
	float: left;
	text-align: center;
}

.convenient-servicea ul li:hover{
	border: 1px solid #F97500;
}
.convenient-servicea ul li a{
	height:38px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	color: #6D655C;
}
.convenient-service .title {
  position: absolute;
  top: -33px;
  width: 100%;
  font-size: 15px;
  color: #676360;
  font-weight: bold;
  height: 33px;
  line-height: 33px; }

.convenient-service .list > a {
  display: block;
  color: #6C635B;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  margin-top: 25px; }

.convenient-service .list > a > i {
  display: block;
  height: 36px;
  background: url(../img/bmfw.png) no-repeat; }

.convenient-service .list > a > i.icon1 {
  background-position: center -104px; }

.convenient-service .list > a > i.icon2 {
  background-position: center -165px; }

.convenient-service .list > a > i.icon3 {
  background-position: center -68px; }

.convenient-service .list > a > i.icon4 {
  background-position: center -29px; }

.convenient-service .list > a > i.icon5 {
  background-position: center -133px; }
  
.icon6 {
	background-position: center 3px;
	display: block;
	height: 30px;
	width: 30px;
	margin-left: 10px;
    float: left;
	background-image: url(../img/bmfw.png);
	background-repeat: no-repeat;
  }

.fixedTools {
  position: absolute;
  left: -68px;
  top: 396px; }

.fixedTools.fixed {
  position: fixed;
  left: 50%;
  margin-left: -668px;
  top: 50%;
  z-index: 9999;
  margin-top: -221px;}

.fixedTools a {
	display: block;
	text-indent: -9999px;
	height: 34px;
	width: 38px;
	background-image: url(../img/fixedTools.jpg);
	background-repeat: no-repeat;
}

.fixedTools a.f1 {
  background-position: left 0; }

.fixedTools a.f2 {
  background-position: left -34px; }

.fixedTools a.f3 {
  background-position: left -67px; }

.fixedTools a.f4 {
  background-position: left -100px; }

.fixedTools a.f5 {
  background-position: left -133px; }

.fixedTools a.f6 {
  background-position: left -166px; }

.fixedTools a.f7 {
  background-position: left -199px; }

.fixedTools a.f8 {
  background-position: left -232px; }

.fixedTools a.f9 {
  background-position: left -265px; }

.fixedTools a.f10 {
  background-position: left -298px; }

.fixedTools a.f11 {
  background-position: left -331px; }

.fixedTools a.f12 {
  background-position: left -364px; }

.fixedTools a.f13 {
  background-position: left -398px; }

.fixedTools a.f1:hover {
  background-position: -39px 0; }

.fixedTools a.f2:hover {
  background-position: -39px -34px; }

.fixedTools a.f3:hover {
  background-position: -39px -67px; }

.fixedTools a.f4:hover {
  background-position: -39px -100px; }

.fixedTools a.f5:hover {
  background-position: -39px -133px; }

.fixedTools a.f6:hover {
  background-position: -39px -166px; }

.fixedTools a.f7:hover {
  background-position: -39px -199px; }

.fixedTools a.f8:hover {
  background-position: -39px -232px; }

.fixedTools a.f9:hover {
  background-position: -39px -265px; }

.fixedTools a.f10:hover {
  background-position: -39px -298px; }

.fixedTools a.f11:hover {
  background-position: -39px -331px; }

.fixedTools a.f12:hover {
  background-position: -39px -364px; }

.fixedTools a.f13:hover {
  background-position: -39px -398px; }

.contentWrap {
  background-color: #fff;
  box-shadow: 0 0 8px #eee; }

.box {
  margin:20px auto 0 auto;
  width: 1200px; 
  height: 421px; }

.index-box-left {
  width: 200px;
  float: left;
  height: 421px; }

.index-box-right {
  float: left;
  width: 796px;
  border-bottom:1px solid #E0D9D2;}
.index-box-lb{
	float: left;
	width: 202px;
	height:419px;
	overflow: hidden;
	position: relative;
}
.index_num{
  position: absolute;
  right: 35%;
  bottom: 5px;
  font: 12px/1.5 tahoma, arial;
  height: 18px;
}
.index_num li{
  float: left;
  color: #fff;
  text-align: center;
  line-height: 18px;
  width: 18px;
  height: 18px;
  font-family: Arial;
  font-size: 11px;
  cursor: pointer;
  margin-left: 3px;
  background-color: #000;
}
.index_endgg{
	width:1200px;
	height: 115px;
	margin:29px auto;
	border: 1px solid #808080;
}








#bn {
	height: 370px;
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
}
#bn .tu {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#bn #hao .xu {
	float: left;
	height: 38px;
	width: 96px;
	margin: 0 2px 0;
	line-height: 40px;
	color: #66645B;
	font-size: 16px;
	cursor:pointer;
	text-align:center;
	border: 1px solid #A0A0A4;
	overflow: hidden;
}

#bn #hao {
	position: absolute;
	left:263px;
	height: 40px;
	z-index: 3;
	top: 534px;
}
#bn .txt {
	display: block;
	position: absolute;
	top: 423px;
	height: 53px;
	width: 385px;
	right: 50px;
	z-index: 3;
}


#bn .tu .lianjie {
	display: block;
	height: 370px;
}