.cbp-bislideshow {
	list-style: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
}

.cbp-bislideshow li {
	position: absolute;
	width: 101%;
	height: 101%;
	top: -0.5%;
	left: -0.5%;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

.backgroundsize .cbp-bislideshow li {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.backgroundsize .cbp-bislideshow li img {
	display: none;
}

.cbp-bislideshow li img {
	display: block;
	width: 100%;
}

.cbp-bicontrols {
	width: 960px;
	height: 25px;
	margin: 43px auto 0;
	overflow: hidden;
}

.cbp-biprev {
	float: left;
	width: 25px;
	height: 25px;
	position: absolute;
	cursor: pointer;
	background-image: url(../img/search_updn.png);
	background-repeat: no-repeat;
	background-position: 2px;
	right: 250px;
}

.cbp-bicontrols span.cbp-binext {
	float: left;
	width: 25px;
	height: 25px;
	position: absolute;
	cursor: pointer;
	background-image: url(../img/search_updn.png);
	background-repeat: no-repeat;
	background-position: -24px;
	right: 225px;
}

.native_logo {
	margin-top: 30px;
	float: left;
}
.native_search{
	margin-left:20px;
	float: left;
	margin-top: 38px;
}
.search_input2{
	width:40px;
	height:40px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-left: 3px;
	background-image: url(../img/sousuo.png);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	background-color: #FF6600;
	cursor:pointer;  
}
.search_input1{
	width:489px;
	height: 38px;
	margin-left: 3px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	outline:none;
	float:left;
	font-size: 15px;
	line-height: 38px;
	color: #999999;
}
.native_jump{
	float:left;
	margin-top: 50px;
	margin-left:15px;
}
.native_jump span{
	color: #FFFFFF;
}
.native_jump span a{
	color: #FFFFFF;
	text-decoration : none
}
.native_map{
	width:750px;
	height:700px;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-position: -4px -9px;
}
.native_end{
	width:100%;
	height: 38px;
	border-top: 4px solid #000000;
	background-image: url(../img/native_end.jpg);
	background-repeat: repeat-x;
	line-height: 38px;
	text-align: center;
	color: #FFFFFF;
	margin-top:11%;
}
.cbp-bicontrols p{
	float:left;
}
.bicontrols_span{
	color: #FF6600!important;;
	
}
.cbp-bicontrols p span a{
	text-decoration: none;
	color:#000000;
}
.jump_span{
	height: 25px;
	width: 25px;
	background-image: url(../img/jump_span.png);
	float: left;
	margin-left: 7px;
	background-repeat: no-repeat;
}
.jump_span0{
	float:left;
	height:25px;
	line-height: 25px;
}
.jump_span1{
	background-position: -2px -2px;
}
.jump_span2{
	background-position: -28px -2px;
}

.cbp-a{
}

.cbp-a a{
	color: #FFFFFF;
	text-decoration : none;
	line-height: 28px;
	height: 27px;
}
.native_namesli1{
	cursor:pointer;
	line-height: 20px;
	height: 20px;
}
.native_namesli0{
	font-size: 15px;
	height: 30px;
	border-bottom: 1px solid #bab8b5;
	margin-bottom: 10px;	
}
.native_namesli3{
	font-size: 15px;
	height: 30px;
	margin-top: 10px;
	border-top:1px solid #bab8b5;
}
.native_namesli0 img{
	margin-top:10px;
	margin-left:25px;
}
.native_namesli3 img{
	margin-top:10px;
	margin-left:25px;
}
.native_namesli0:hover {
	background-color: #f1a261;
	cursor: pointer;
}
.native_namesli3:hover {
	background-color: #f1a261;
	cursor: pointer;
}
.native_namesli1.active {
	font-size: 15px;
	color: #FFFFFF;
	background-color: #FF6600;
	width: 60px;
	margin-left: 7px;
	opacity:1;
}
.native_namesli{
	height:30px;
	background-image: url(../img/native_names.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.native_names{
	max-height: 550px;
	width: 70px;
	list-style-type: none;
	position: fixed;
	right: 0px;
	top: 10%;
	background-image: url(../img/R_BG.png);
}

.native_names0{
	background-image: url(../img/native_names0.png);
	float: left;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	background-position: 3px -3px;
	margin-top:90%;
	cursor:pointer;
	background-color: #666666;
	opacity:0.5;
}
.native_names0-js{
	background-image: url(../img/right.png);
	background-repeat: no-repeat;
	background-position: 6px 3px;
	
}
.native_names1{
	width:70px;
	height: 470px;
	overflow:hidden;
}
.native_names ul li{
	width:70px;
	text-align: center;
	color: #f3ecd0;
	overflow: hidden;
	text-overflow : ellipsis;
}
.native_names ul li a{
	width:70px;
	text-align: center;
	color: #f3ecd0;
	text-decoration:none;
}
.native_names-js{
	 right: 0px;
}
.native_map_a{
	position: absolute;
	width:100%;
	color: #FFFFFF;
}
.native_map_1{
	background-image: url(../img/native_map_a.png);
	height: 110px;
	width: 80px;
	position: absolute;
	background-repeat: no-repeat;
}
.native_map_1_no{
	background-image: url(../img/native_map_a_on.png);
	height: 55px;
	width: 100px;
	position: absolute;
	background-repeat: no-repeat;
}
.native_map_2{
	width: 382px;
	position: absolute;
}
.native_map_2.abc{
	top: 22px;
    left: 12px;
}

.map2_a_div1{
	position: absolute;
	border-radius: 10px 10px 0px 0px;
	width: 370px;
	background-color: #FF6600;
}
.map2_a_div2{
	position: absolute;
	width: 370px;
	background-color: #FFFFFF;
	border-radius: 0px 0px 10px 10px;

}
.map_a_div1{
	position: absolute;
	top:10px;
	width:100%;
	height:16px;
	text-align: center;
	overflow: hidden;
}
.map_a_div2{
	position: absolute;
	top:36px;
	left:10px;
	height: 47px;
	width: 62px;
}
.map_a_div3{
	position: absolute;
	height:40px;
	width:100%;
	text-align: center;
	overflow: hidden;
	font-size: 12px;
	line-height: 40px;
}
.recommend1{
	width:100px;
	float: left;
	height: 278px;
	line-height: 278px;
	color: #FFFFFF;
	text-align: center;
}
.recommend2{
	width:270px;
	float: left;
	height: 100%;
}
.recommend_div{
	width:330px;
	height:68px;
	background-color: #fae0bf;
	margin: 15px 20px 0 20px;
}
.recommend_div img{
	margin:4px;
	float: left;
}
.recommend_div_p{
	font-size: 14px;
	color: #000000;
	margin: 10px 0 0 10px;
	width: 167px;
	float: left;
	overflow: hidden;
}
.recommend_input{
	width:75px;
	height:30px;
	margin-left: 5px;
	margin-top:19px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #ff5c00;
	color: #FFFFFF;
	cursor: pointer;
}
.recommend_a{
	margin-left:310px;
	line-height: 30px;
	color: #fff;
	height: 30px;
}
.div2_div1{
	float:left;
	width:54px;
	height:76px;
	margin: 20px 0 0 15px;
	border: 1px solid #CCCCCC;
}
.div2_div2{
	width: 298px;
	height:123px;
	float:left;
	overflow: hidden;
}
.map2_a_div2 h1{
	font-size: 18px;
	font-weight: bold;
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 10px;
}
.map2_a_div2 p{
	margin-right: 10px;
	margin-left: 10px;
	line-height: 23px;
}
.recommend_div_p1{
	padding: 5px;
}
.recommend_div_p1_span{
	color: #cd0000;
	font-size: 18px;
	font-weight: bold;
}

.native_map1{
	background-image: url(../img/dtbj1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.native_map2{
	background-image: url(../img/thevillagelevel.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.recommend_div a{
	text-decoration:none;
}
 .fil {fill:#dddddd;stroke-width:1;opacity:0;}